<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.ozy.dao.IUserRoleDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.ozy.entity.UserRoleDO" >
        <result column="UserID" property="userid" jdbcType="INTEGER" />
        <result column="Role_ID" property="roleId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        UserID, Role_ID
    </sql>

    <insert id="insert" parameterType="com.cmpay.ozy.entity.UserRoleDO" >
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userid != null" >
                UserID,
            </if>
            <if test="roleId != null" >
                Role_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userid != null" >
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="roleId != null" >
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.ozy.entity.UserRoleDO" >
        select 
        <include refid="Base_Column_List" />
        from user_role
        <where >
            <if test="userid != null" >
                and UserID = #{userid,jdbcType=INTEGER}
            </if>
            <if test="roleId != null" >
                and Role_ID = #{roleId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>